{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
    <form method="post" action="" >
        {% csrf_token %}
        {{ product_form.as_p }}
        {% include 'inventory/modalCharacteristicProduct.html' %}

        <button class="btn btn-success mt-3" type="submit" >Editar</button>
    </form>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static 'js/utilities/fillInputProductCharacteristic.js' %}"></script>

    {% endblock %}
    