{% extends 'inventory/base.html' %}

{% block content %}
<div class='col-8 min-vh-100' >

    <h2>
        Listado productos
    </h2>

    <section>
        <table class="table tabl-bordered mt-3" >
            <tr>
                <td>SKU producto</td>
                <td>Nombre produto</td>
                <td>Precio</td>
            </tr>
            {% for item in products_with_price %}
            <tr>
                <td>
                    {{ item.product.sku }}
                </td>
                <td>
                    {{ item.product.name }}
                </td>
                <td>
                    {{ item.price }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}