{% extends 'inventory/base.html' %}

{% block content %}

    <div class='col-8 min-vh-100' >

        <h2>
            Listado productos
        </h2>

        <section>
            <table class="table tabl-bordered" >
                <tr>
                    <td>SKU producto</td>
                    <td>Nombre produto</td>
                    <td>Precio</td>
                </tr>
                <tr>
                    <td>a65ds846s</td>
                    <td>Notebook</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>
                        qwe87545q7
                    </td>
                    <td>
                        Play station 5
                    </td>
                    <td>
                        600
                    </td>
                </tr>
            </table>
        </section>
    </div>

{% endblock %}