{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<div class="col-8 min-vh-100" >

    <h2>
        Listado productos
    </h2>

    <section>
        <table class="table tabl-bordered mt-3" >
            <tr>
                <td>SKU producto</td>
                <td>Nombre produto</td>
                <td>Precio</td>
                <td>Acción</td>
            </tr>
            {% for item in products_with_price %}
            <tr>
                <td>
                    {{ item.product.sku }}
                </td>
                <td>
                    {{ item.product.name }}
                </td>
                <td>
                    {{ item.price }}
                </td>
                <td>
                  <button type="button" class="btn btn-danger" id="borrar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Borrar producto
                  </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="module" src="{% static 'js/app.js' %}"></script>

{% endblock %}
