    <h2>Filtros</h2>
    <form method="get" action="" >
        <div class="col-10 d-flex" >
            <label for="name">Por nombre</label>
            <input class="form-control" type="text" name="name" >

            <button>Filtrar</button>
        </div>
        Nombre
        Texto
        ---
        Sku producto
        Texto y quizás que sugiera
        ---

        Cantidad, mayor a y menor a.
        Number
        ---

        Color
        Choices
        ---

        Tipo de material
        Choices
        ---
    </form>

