{% load static %}

<button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#modalCaracteristicas">Más caracteristicas</button>
<!-- Modal -->
<div class="modal fade" id="modalCaracteristicas" tabindex="-1" aria-labelledby="modalCaracteristicas" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="modalCaracteristicas">Ingreso más caracteristicas del producto</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body g-2">
          <label for="input_height">Altura</label>
          <input type="number" class="form-control" name="input_height" id="input_height" >
          <label for="input_width">Ancho</label>
          <input type="number" class="form-control" name="input_width" id="input_width" >
          <label for="input_color">Color</label>
          <input type="text" class="form-control" name="input_color" id="input_color" >
          <label for="input_material_type">Tipo de material</label>
          <input type="text" class="form-control" name="input_material_type" id="input_material_type" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Seguir</button>
      </div>
    </div>
  </div>
</div>

